body {
  font-family: sans-serif, serif;
  font-size: 14px;
}


header {
  background-color: black;
  color: white;
  text-align: center;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 12px;
}

h2 {
  font-size: 14px;
}

table tr td:nth-of-type(2) {
  text-align: right;
}

.table-css-version {
  background-color: #2465f1;
  color: white;
}

.table-js-version {
  background-color: #ffe70b;
}

.table-component {
  background-color: #f16524;
}
